.checkbox-wrapper-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.checkbox-type-1 {
    appearance: none;
    -webkit-appearance: none;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: #F2F2F2;
    border: 1px solid rgba(101, 117, 139, 0.2);
    cursor: pointer;
    position: relative;
}

.checkbox-type-1:checked::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #65758B;
    border-radius: 3px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 58px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F2;
    border: 1px solid #65758B33;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    border-radius: 105px;
    left: 0.27em;
    /* bottom: 0.25em; */
    top: 50%;
    transform: translateY(-50%);
    background-color: #adb5bd;
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateY(-50%) translateX(1.6em);
    background-color: #CF2124;
}